::selection {background-color: #E13300; color: white; }
::moz-selection {background-color: #E13300; color: white;}
::webkit-selection{background-color: #E13300; color: white;}

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}

/*
	to be defined later.
a {

}
*/

#container {
	margin: 10px;
}

#response {

}

#queryForm {

}

#docList {

}

.document {
	
}

form input[type=text] {

}

form input[type=submit] {
	
}