<!-- query html form submitting a POST
	request to a handler. -->

<html>

<head>
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
</head>

<body>
<div id = "container">
	<div id = "queryForm">
		<form action = "{{url_for('handler')}}" method="post">
			Query:<br>
			<input type="text" name="queryPost">
			<input type="submit" value="Search">
		</form>
	</div>

<!--
		@app.route('/')
	def form():
		return render_template('query.html')
-->

</div>

</body>
</html>